.card {
    min-height: 550px;
    background-color: white;
    width: 400px;
    border: 1px solid  rgba($color: #390c0c, $alpha: 1.0);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    img {
        width: 400px;
    }
    p {
        padding: auto;
        font-size: 20px;
        font-family: 'Dancing Script', cursive;
    }
    button {
        width: 50%;
        position: absolute;
        bottom: 0;
        height: 32px;
        border: 1px solid;
        cursor: pointer;
        &:first-child {
            left: 0;
        }
        &:last-child {
            right: 0;
        }
        &:hover  {
            background-color: rgb(14, 14, 124);
        }
    }
}