/* You can add global styles to this file, and also import other style files */
body  {
    
    margin: 20px;
    background-color: rgba($color: #9595a1, $alpha: 2.0);
}

.margin-bottom-16 {
    margin-bottom: 16px;
}